.card-list-section {
  .card_list-title {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    margin: 0 0 50px 0;
  }

  .card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 29px;
    grid-row-gap: 29px;
    min-height: 500px;
    grid-auto-rows: 254px;

    @media (min-width: 769px) and (max-width: 1024px) {
      padding: 0 60px;
      //grid-template-columns: 282px 282px 282px;
    }

    @media (min-width: 361px) and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      padding: 0 30px;
      grid-row-gap: 16px;
      grid-column-gap: 16px;
    }
  }

  .card-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 566px;
  }

  .button-wrapper {
    width: 100%;
    text-align: center;
    margin: 50px 0 140px;

    .button {
      background-color: #F4E041;
      border-radius: 80px;
      font-family: 'Nunito', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      border: none;
      width: 120px;
      height: 34px;
      cursor: pointer;
      transition: all linear 0.3s;

      &:hover {
        background-color: #FFE302;
      }
    }
  }

}
