.card-wrapper {
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 370px;

  @media (min-width: 769px) and (max-width: 1024px) {
    width: 282px;
  }

  @media (min-width: 361px) and (max-width: 768px) {
    width: 344px;
  }

  @media (max-width: 360px) {
    width: 328px;
  }

  .card-info {
    padding: 20px;
    text-align: center;
    width: 100%;

    .user-image {
      border-radius: 50%;
    }

    .name-wrapper {
      margin: 20px 0;
    }

    .name, .position, .email, .number {
      font-family: 'Nunito', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: rgba(0, 0, 0, 0.87);
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .field-wrapper {
      position: relative;
    }

    .field-wrapper span {
      display: none;
    }

    .field-wrapper:hover span {
      background-color: #000000;
      color: #FFFFFF;
      padding: 3px 16px;
      display: block;
      z-index: 100;
      left: 50%;
      position: absolute;
      top: 25px;
      width: fit-content;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
