.card-wrapper {
  border-radius: 10px;
  background-color: #FFFFFF;

  .card-info {
    padding: 20px;
    text-align: center;
    width: 100%;

    .user-image {
      border-radius: 50%;
    }

    .name {
      padding: 20px 0;
    }

    .name, .position, .email, .number {
      font-family: 'Nunito', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: rgba(0, 0, 0, 0.87);
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
