.card-wrapper {
  width: 370px;
  height: 254px;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin: 0 29px 29px 0;

  &:nth-child(3n) {
    margin: 0 0 29px 0;
  }

  .card-info {
    padding: 20px;
    text-align: center;

    .name, .position, .email, .number {
      //font-family: 'Nunito';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: rgba(0, 0, 0, 0.87);
    }
  }
}

