.banner {
  max-width: 1170px;
  height: 650px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/pexels-alexandr-podvalny-1227513.jpeg') no-repeat bottom;
  background-size: cover;
  margin-bottom: 140px;

  @media (min-width: 769px) and (max-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 361px) and (max-width: 768px) {
    max-width: 100%;
    height: 500px;
  }

  @media (max-width: 360px) {
    height: 500px;
  }

  &-content-wrapper {
    width: 380px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 164px;

    @media (min-width: 361px) and (max-width: 768px) {
      padding-top: 89px;
    }

    @media (max-width: 360px) {
      width: 360px;
      padding: 40px 16px 0;
    }

    .title {
      font-family: 'Nunito', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 21px;
    }

    .sub-title {
      font-family: 'Nunito', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;
    }

    .button {
      margin-top: 32px;
      font-family: 'Nunito', sans-serif;
      background: #F4E041;
      border-radius: 80px;
      width: 100px;
      height: 34px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: rgba(0, 0, 0, 0.87);
      cursor: pointer;
      border: none;
      transition: all linear 0.3s;

      &:hover {
        background-color: #FFE302;
      }
    }
  }
}


