.main-wrapper {
  background-color: #f8f8f8;
  width: 100%;

  .container {
    max-width: 1170px;
    margin: 0 auto;

    @media (min-width: 769px) and (max-width: 1024px) {
      max-width: 1024px;
    }

    @media (min-width: 361px) and (max-width: 768px) {
      max-width: 768px;
    }

    @media (max-width: 360px) {
      width: 360px;
    }
  }
}
